.main{
  margin-left: 150px;
  margin-top: 100px;
  width: fit-content;
}

  .weeklysplitems {
    display: flex;
    column-gap: 20px;
    overflow-x: scroll;
    width: 1340px;
    overflow: hidden;
    padding: 10px;
  }
.cardbox{
   display: flex;
   margin-right: 20px;
}
.arrowleft{
  max-height: 30px;
  margin-top: 180px;
  margin-right: 50px;
  cursor: pointer;
}
.arrowright{
  max-height: 30px;
  margin-top: 180px;
  margin-left: 50px;
  cursor: pointer;
}
.th {
  color: inherit;
  text-decoration: none;
}

.th {
  background:
    linear-gradient(
      to right,
      rgb(0, 0, 0),
      #5a2626
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.th:hover {
  background-size: 0 3px, 60% 3px;
}

.featuredproducts{
  margin-top: 70px;
}
.featuredproductitems{
  display: flex;
    column-gap: 20px;
    overflow-x: scroll;
    width: 1340px;
    overflow: hidden;
    padding: 10px;
}
.topseller{
  margin-top: 70px;
}
.topselleritems{
  display: flex;
  column-gap: 20px;
  overflow-x: scroll;
  width: 1340px;
  overflow: hidden;
  padding: 10px;
}

.footer{
  margin-left: 300px;
  margin-top: 200px;
  margin-bottom: 100px;
}
.bannersection{
  margin-top: 70px;
}
